
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
Sprint0.5_Fa24-main/Project/Sprint0.5-main/.gradle/buildOutputCleanup/buildOutputCleanup.lock
*.lock
Sprint0.5_Fa24-main/Project/Sprint0.5-main/local.properties
Sprint0.5_Fa24-main/Project/Sprint0.5-main/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Sprint0.5_Fa24-main/Project/Sprint0.5-main/.gradle/buildOutputCleanup/outputFiles.bin
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/apk/debug/app-debug.apk
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/dex/debug/mergeExtDexDebug/classes.dex
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/dex/debug/mergeExtDexDebug/classes2.dex
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/debug/mergeDebugResources/merger.xml
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/outputs/logs/manifest-merger-debug-report.txt
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin

