
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
Sprint0.5_Fa24-main/Project/Sprint0.5-main/app/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
Sprint0.5_Fa24-main/Project/Sprint0.5-main/.gradle/buildOutputCleanup/buildOutputCleanup.lock
*.lock
